$sans-serif-article: 'Noto Sans SC', sans-serif;
$sans-serif-article-2: 'Nunito', sans-serif;

$accent-color: #40526b;
$accent-secondary: rgb(69, 133, 252);
$nav-height: 50px;

$light-gray: transparentize($base-font-color, .6);
